.centerCard {
  display: flex;
  flex-direction: column;
  /* height: 80%; */
  width: 30%;
  background-color: white;
  padding: 2rem;
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-radius: 0.75rem;
  border: solid gray 0.25px;
}

.btn {
  background-color: rgb(247, 146, 163);
  height: 3rem;
  width: 100%;
  color: white;
  font-size: x-large;
  margin-top: 2rem;
  border-radius: 0.75rem;
  border: none;
  cursor: pointer;
}

.birthdayCardList {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.birthdayCard {
  display: flex;
  flex-direction: row;
  height: 10rem;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.imgContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 20%;
}

.img {
  border-radius: 9999px;
  height: 100%;
  width: 100%;

  object-fit: fill;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  justify-content: center;
}

.name {
  font: bold;
  font-weight: bold;
  font-size: larger;
  margin: 0;
}

.age {
  margin: 0;
}
